@import "tailwindcss";
@reference "./global.css";

.bs-btn {

  @apply
    active:translate-y-[1px]
    active:bg-bs-surface-3
    bg-bs-surface-2
    duration-200
    focus-visible:outline-none
    focus-visible:ring-2
    focus-visible:ring-white/75
    font-bold
    px-4
    py-3
    rounded-2xl
    text-bs-surface-1
    text-center
    uppercase
    transition-all
    relative
    overflow-clip
    before:flex
    before:inset-0
    before:bg-white
    before:rounded-lg
    before:absolute
    before:opacity-0
    before:-translate-x-full
    before:transition-all
    before:duration-300
    before:ease-out
    hover:before:translate-x-0
    hover:before:opacity-10
    active:before:opacity-0
    ;
}