@import "tailwindcss";

@theme {

  --font-display: var(--font-league-spartan), "League Spartan";
  --font-body: var(--font-gidole), "Gidole";
  --font-especial: var(--font-especial), "Poppins";

  --color-bs-surface-0: #272727;
  --color-bs-surface-1: #eff8fa;
  --color-bs-surface-2: #00a0b0;
  --color-bs-surface-3: #f8991d;

  --color-bs-foreground-light: #eff8fa;
  --color-bs-foreground-dark: #fff;

  --color-current: currentColor;
  --accent: #00a0b0;
	--accent-dark: #272727;
	--aquasky: #65c3ca;
	--powderblue: #b9e0e7;
	--light: #eff8fa;
	--tangerine: #f8991d;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  --ease-bs-bounce: linear(0,.01,.04 1.6%,.161 3.3%,.816 9.4%,1.046,1.189 14.4%,1.231,1.254 17%,1.259,1.257 18.6%,1.236,1.194 22.3%,1.057 27%,.999 29.4%,.955 32.1%,.942,.935 34.9%,.933,.939 38.4%,1 47.3%,1.011,1.017 52.6%,1.016 56.4%,1 65.2%,.996 70.2%,1.001 87.2%,1);

  --ease-bs-spring: linear(
    0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
    1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
    1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
    0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1);
}

@font-face {
	font-family: "League Spartan";
	src: url("/assets/fonts/LeagueSpartan.ttf") format("ttf");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gidole";
	src: url("/assets/fonts/Gidole-Regular.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("/assets/fonts/Poppins-Regular.ttf") format("ttf");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:has(.menu[aria-expanded="true"]) .nav-links {
	display: unset;
}

:has(.menu[aria-expanded="true"]) header {
	padding-bottom: 1em;
}


