@import "tailwindcss";
@reference "./global.css";

.bs-h1 {
  @apply font-body font-extrabold text-balance text-3xl sm:text-3xl md:text-3xl lg:text-4xl leading-[1];
}

.bs-h2 {
  @apply font-display font-extrabold text-balance text-4xl md:text-4xl;
}

.bs-h3 {
  @apply font-display font-bold text-balance text-lg md:text-4xl;
}

.bs-h4 {
  @apply font-especial font-extrabold text-balance text-xl md:text-lg lg:text-xl;
}

.bs-icons {
  @apply font-display text-balance font-bold text-lg md:text-lg leading-[1.2];
}

.bs-body-text {
  @apply font-body leading-relaxed text-sm md:text-lg lg:text-xl;
}

h1 {
  @apply font-body font-extrabold text-balance text-3xl sm:text-3xl md:text-3xl lg:text-4xl leading-[1];
}

h2 {
  @apply font-display font-extrabold text-balance text-4xl md:text-4xl;
}

h3 {
  @apply font-display font-bold text-balance text-lg md:text-xl;
}

h4 {
  @apply font-especial font-extrabold text-balance text-base md:text-sm lg:text-xl;
}
