---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout>
  <div>
    <div class="mx-auto max-w-6xl px-4 py-10 md:py-5">
      <!-- Header -->
      <div class="grid gap-10 md:grid-cols-2 md:items-start">
        <!-- Izquierda -->
        <div class="space-y-4">
          <h1
            class="font-extrabold md:text-8xl tracking-tight bg-clip-text text-transparent bg-gradient-to-br from-gray-900 to-gray-700"
          >
            About<br />Us
          </h1>
          <div class="h-1 w-24 rounded-full bg-[color:var(--accent)]/80"></div>
        </div>

        <!-- Derecha -->
        <div class="max-w-md md:ml-auto self-start">
          <p
            class="mt-3 text-[11px] md:text-xs font-semibold uppercase text-[color:var(--accent)] tracking-[0.2em]"
          >
            Hawaiian Springs Water
          </p>
          <h2
            class="text-4xl md:text-5xl font-extrabold tracking-tight text-gray-900"
          >
            Never Filtered tap.<br class="hidden sm:block" />Never Tankered.
          </h2>
        </div>
      </div>
      <Image
		src="/assets/AboutImage.jpg"
		alt="About Image"
		class="mt-10 rounded-lg shadow-lg"
		width={1200}
		height={600	}
		loading="eager"/>
    </div>
  </div>
</Layout>
