---
---
<div aria-expanded="false" aria-controls="main-menu" class="menu md:hidden">
  <span class="block w-[40px] h-[5px] mb-[10px] bg-bs-surface-2"></span>
  <span class="block w-[40px] h-[5px] mb-[10px] bg-bs-surface-2"></span>
  <span class="block w-[40px] h-[5px] mb-[10px] bg-bs-surface-2"></span>
</div>