---
import Social from "./Social.astro"
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Hawaiian Springs. All rights reserved.
	<div class="social">
		<Social/>
	</div>
</footer>

