---
import Social from "./Social.astro"
import Logo from '../assets/theme-images/logo.svg'
import Menu from "./BurgerMenu.astro"
const { settings } = Astro.props

---

<header class="wrapper bg-loop font-semibold">

  <!-- Wrapper -->
  <div class="bs-container flex justify-between items-center">

    <!-- Logo -->
    <a class="flex xl:min-w-32 group mx-1 md:mx-20" href="/" aria-label={ settings.title + ' - Home' }>

      <Logo class="group-hover:scale-180 transition-transform ease-bs-spring duration-1000" height="150" width="150" />

    </a>
    <Menu/>

  </div>
    <!-- Nav -->
    <nav class="nav-links hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">

      <!-- Links -->
      { settings.nav.map( item =>

        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0" href={item.link}>
          { item.title }
        </a>

      )}
      <Social />

    </nav>

    <!-- CTA -->
   <!-- <button type="button" class="min-w-32 bs-btn" onclick="demo.showModal()">

      { settings.demo.title }

    </button>  -->

 

</header>

<script>
      import "../scripts/menu.js";
    </script>
