---
import BurgerMenu from "./BurgerMenu.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
import Social from "./Social.astro";
---

<header class="flex flex-wrap items-center justify-between p-4 md:flex-nowrap">
  <div class="flex w-full items-center justify-between md:w-auto">
    <Logo />
    <BurgerMenu />
  </div>

  <nav id="main-menu" class="nav-links w-full flex-col md:flex md:w-auto md:flex-row md:items-center hidden">
    <Navigation />
  </nav>

  <div class="social-links w-full flex-col md:flex md:w-auto md:flex-row md:items-center hidden">
    <Social />
  </div>
  
  
</header>

