---
import BurgerMenu from "./BurgerMenu.astro";
import Navigation from "./Navigation.astro";
import Logo from "./Logo.astro";
---

<header>
  <Logo /> 
  <nav>    
    <BurgerMenu />        
    <Navigation />    
  </nav>
</header>

