---
import Social from "./Social.astro";
import Logo from "../assets/theme-images/logo.svg";
import Menu from "./BurgerMenu.astro";
const { settings } = Astro.props;
---

<header class="px-5 lg:px-10 lg:flex justify-between wrapper font-semibold w-full">
  <!-- Wrapper -->
  <div class="flex justify-between items-center">
    <!-- Logo -->
    <a class="flex group" href="/" aria-label={settings.title + " - Home"}>
      <Logo
        class="text-[color:var(--accent)] hover:text-[color:var(--aquasky)] transition-transform ease-bs-spring duration-1000 w-50 md:w-60"
      />
    </a>
    <Menu />
  </div>
  <!-- Nav -->
  <nav class="w-auto nav-links hidden col-span-6 lg:flex lg:justify-between items-center">
    <!-- Links -->
    {
      settings.nav.map((item) => (
        <a
          class="block p-2 md:p-5 bs-h4 text-center w-auto text-[color:var(--accent)] !bg-transparent before:translate-y-full hover:before:translate-y-0"
          href={item.link}
        >
          {item.title}
        </a>
      ))
    }
  </nav>

  <!-- CTA -->
  <!-- <button type="button" class="min-w-32 bs-btn" onclick="demo.showModal()">

      { settings.demo.title }

    </button>  -->
</header>

<script>
  import "../scripts/menu.js";
</script>
