---
import ThreeDViewer from "../components/3DViewer";
import Image from "astro/components/Image.astro";
import bg_image from "../assets/cover.webp";
const modelPath = "/models/HSWBottle.obj";
---

<section class="">
  <div class="relative w-full min-h-screen flex items-center justify-center">
    <Image
      src={bg_image}
      alt=""
      format="webp"
      class="absolute min-h-svh object-cover inset-0 bottom-auto -z-1 w-full h-full"
      loading="eager"
    />

    <div
      class="absolute top-0 md:top-40 left-0
                flex flex-col gap-4
                bg-[color:var(--bs-surface-0)/60]
                rounded-xl
                p-8
                shadow-lg
                md:w-1/2"
    >
      <div
        class="flex items-center bg-gradient-to-r from-bs-surface-0/90 to-transparent rounded p-3"
      >
        <h1 class="bs-h1 text-[color:var(--light)]">
          HAWAII’S ONLY WATER <br />
          BOTTLED AT THE SOURCE
        </h1>
      </div>
      <div class="flex gap-4">
        <div
          class="inline-flex items-center gap-2 rounded-xl md:rounded-full border border-white/40 bg-[color:var(--accent)]/60 px-3 py-1 text-xl font-medium text-white tracking-normal uppercase shadow-sm backdrop-blur"
        >
          <span class="bs-h3"></span>
          Not Filtered Tap
        </div>
        <div
          class="mt-1 inline-flex items-center gap-2 rounded-xl md:rounded-full border border-white/40 bg-[color:var(--aquasky)]/60 px-3 py-1 text-xl font-medium text-white tracking-normal uppercase shadow-sm backdrop-blur"
        >
          <span class="bs-h3"></span>
          Not Tankered
        </div>
      </div>
      <!-- Call to actions -->
      <div class="mt-8 flex flex-wrap items-center gap-3">
        <a
          href="#get-started"
          class="bs-btn"
        >
          Shop Now
        </a>
      </div>
    </div>
    <!-- Eyebrow / badge -->

    <!--  <p
        class="mt-3 max-w-1xl text-pretty text-white text-base leading-5 md:leading-7 md:text-2xl"
      >
        Hawaiian rain is naturally filtered through 13,000 feet of pristine
        Mauna Loa lava rock. Bottled at the source, this artesian water delivers
        a clean, smooth taste and a perfect natural pH. <strong
          >Experience the authentic purity of Hawaii.</strong
        >
      </p> -->
    <!-- <div class="absolute top-10 w-full">
      <ThreeDViewer
        modelPath={modelPath}
        bgImageUrl={bg_image}
        client:visible
      />
    </div> -->

    

    <!-- <div class="mt-8">
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300">
                Botón con Estilos Tailwind
            </button>
        </div> -->
  </div>
</section>
<!-- Decorative divider -->
    <div
      class="mx-auto h-px max-w-7xl bg-gradient-to-r from-transparent via-zinc-200 to-transparent dark:via-white/10"
    >
    </div>
