---
import Bottled from "../assets/theme-images/bottled.svg";
import Filtered from "../assets/theme-images/filtered.svg";
import Alkaline from "../assets/theme-images/alkaline.svg";
import Kosher from "../assets/theme-images/kosher.svg";
import Sustainable from "../assets/theme-images/sustainable.svg";
import Recycle from "../assets/theme-images/recycle.svg";
---

<section class="mt-20">
  <div class="grid grid-cols-3 text-center md:grid-cols-6">
    <div class="flex flex-col items-center">
      <Bottled
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">BOTTLED ON HAWAII ISLAND</p>
    </div>

    <div class="flex flex-col items-center">
      <Filtered
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">LAVA ROCK FILTERED</p>
    </div>

    <div class="flex flex-col items-center">
      <Alkaline
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">NATURALLY ALKALINE</p>
    </div>

    <div class="flex flex-col items-center">
      <Kosher
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">KOSHER</p>
    </div>
    <div class="flex flex-col items-center">
      <Sustainable
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">A SUSTAINABLE RESOURCE</p>
    </div>
    <div class="flex flex-col items-center">
      <Recycle
        class="w-30 h-30 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
      />
      <p class="bs-h3 text-[color:var(--accent)] -mt-5">PLEASE RECYCLE</p>
    </div>
  </div>
</section>
