---
import HeaderLink from "./HeaderLink.astro"
---

<div id="main-menu" class="nav-links">
  <a href="/">Home</a>
  <HeaderLink href="/whyhsw">Why HSW</HeaderLink>
  <HeaderLink href="/community">Community</HeaderLink>
  <HeaderLink href="/about">About Us</HeaderLink>
</div>
