---
import HeaderLink from "./HeaderLink.astro";
import Social from "./Social.astro";
---

<div id="main-menu" class="nav-links">
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink href="/whyhsw">Why HSW</HeaderLink>
  <HeaderLink href="/community">Community</HeaderLink>
  <HeaderLink href="/about">About Us</HeaderLink>
  <div class="social-links flex items-center gap-4 text-gray-600">
    <Social />
  </div>
</div>
