---
import HeaderLink from "./HeaderLink.astro"
---

  <a href="/">Home</a>
  <HeaderLink href="/whyhsw">Why HSW</HeaderLink>
  <HeaderLink href="/community">Community</HeaderLink>
  <HeaderLink href="/about">About Us</HeaderLink>

