---
import HSWicons from "./HSWicons.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/about.webp";
---

<section id="origin" class="mx-auto max-w-6xl py-4 px-4">
  <!-- Header -->
  <div class="grid md:grid-cols-2 md:items-start">
    <!-- Izquierda -->
    <div class="flex flex-col h-full pt-10 justify-between">
      <h1 class="bs-h2 text-bs-surface-0">About</h1>

      <p class="mt-8 text-lg leading-7 text-black">
        Born from a 13,000-foot volcanic aquifer beneath the Big Island,
        Hawaiian Springs Water begins as pure rainfall that seeps through
        thousands of feet of ancient lava rock. 
      </p>
      <p class="mt-8 text-lg leading-7 text-black">When its ready, it rises through pressure, emerging cool and untouched by human hands.</p>

      <a
        href="/about"
        class="text-bs-surface-2 hover:text-bs-surface-3 bs-h4 transition-colors"
        data-astro-cid-j7pv25f6=""
      >
        Know More →
      </a>
    </div>

    <!-- Derecha -->
    <div class="max-w-md md:ml-auto self-start">
      <Image
        src={aboutImage}
        alt="About Image"
        class="mt-10 rounded-xl shadow-lg"
        width={600}
        height={600}
        loading="eager"
      />
    </div>
  </div>
  <HSWicons />
</section>
