---
import Image from "astro/components/Image.astro";
import Bottle500 from "../assets/500ml.png";
import Bottle750 from "../assets/750ml.png";
import Bottle1L from "../assets/1-L.png";
import Bottle15 from "../assets/1.5-L.png";
---

<section class="bg-white flex flex-col justify-center items-center py-20 px-10">
    
    <h2 class="bs-h2 text-[color:var(--accent)] mb-10 text-center">
        Shop Hawaiian Springs
    </h2>
    
    <div class="flex justify-between text-center p-10 gap-6 max-w-6xl mx-auto">
        
        <div class="flex flex-col justify-end 
                    rounded-3xl bg-[color:var(--powderblue)] 
                    h-[500px] w-full p-10"> <div class="flex flex-col items-center"> <Image
                    src={Bottle500}
                    alt="500ml Bottle"
                    class="w-20 h-auto mb-4" />
                <h2 class="text-xl font-bold">500ml</h2>
                <button
                    class="bs-btn bg-[color:var(--accent)] text-white px-4 py-2 rounded-full mt-4"
                >Buy Now</button>
            </div>
        </div>
        
        <div class="flex flex-col justify-end 
                    rounded-3xl bg-[color:var(--powderblue)] 
                    h-[500px] w-full p-10">
            <div class="flex flex-col items-center">
                <Image
                    src={Bottle750}
                    alt="750ml Bottle"
                    class="w-24 h-auto mb-4"
                />
                <h2 class="text-xl font-bold">750ml</h2>
                <button
                    class="bs-btn bg-[color:var(--accent)] text-white px-4 py-2 rounded-full mt-4"
                >Buy Now</button>
            </div>
        </div>
        
        <div class="flex flex-col justify-end 
                    rounded-3xl bg-[color:var(--powderblue)] 
                    h-[500px] w-full p-10">
            <div class="flex flex-col items-center">
                <Image
                    src={Bottle1L}
                    alt="1L Bottle"
                    class="w-28 h-auto mb-4"
                />
                <h2 class="text-xl font-bold">1L</h2>
                <button
                    class="bs-btn bg-[color:var(--accent)] text-white px-4 py-2 rounded-full mt-4"
                >Buy Now</button>
            </div>
        </div>
        
        <div class="flex flex-col justify-end 
                    rounded-3xl bg-[color:var(--powderblue)] 
                    h-[500px] w-full p-10">
            <div class="flex flex-col items-center">
                <Image
                    src={Bottle15}
                    alt="1.5L Bottle"
                    class="w-32 h-auto mb-4"
                />
                <h2 class="text-xl font-bold">1.5L</h2>
                <button
                    class="bs-btn bg-[color:var(--accent)] text-white px-4 py-2 rounded-full mt-4"
                >Buy Now</button>
            </div>
        </div>

    </div>
</section>