---
import products from "../data/products.json";
const HSWurl =
  "https://www.amazon.com/-/es/stores/HawaiianSprings/page/E8A5266D-C2E3-48CD-A46D-82BECD05A399";
---

<section id="shop" class="flex flex-col justify-center items-center py-20 px-10">
  <h2 class="bs-h2 text-[color:var(--accent)] mb-10 text-center">
    Shop Hawaiian Springs
  </h2>

  <div class="grid gird-cols-2 md:grid-cols-4 gap-8 w-full max-w-6xl">
    {products.map((item)=>(
      <div
      class="flex flex-col justify-end
                    rounded-3xl bg-[color:var(--powderblue)]
                    h-auto md:h-[500px] w-auto p-10"
    >
      <div class="flex flex-col items-center">
        <img
          src={item.image}
          alt={item.image_alt}
          class="w-1/4 md:w-1/2 h-auto mb-4"
        />
        <h2 class="bs-h3 text-bs-surface-0">{item.title}</h2>
        <a
          href={HSWurl}
          class="bs-btn inline-block bg-bs-suface-2 text-white px-4 py-2 rounded-full mt-4"
        >
          Buy Now
        </a>
      </div>
    </div>
      
    ))}
    
  </div>
</section>
