---
import FacebookLogo from "../assets/theme-images/facebook.svg";
import InstagramLogo from "../assets/theme-images/instagram.svg";
import LinkedinLogo from "../assets/theme-images/linkedin.svg";
import TikTokLogo from "../assets/theme-images/tiktok.svg";
---

<section class="flex gap-1">
  <a 
    href="https://www.facebook.com/HawaiianSprings/" 
    target="_blank"
    rel="noopener noreferrer">
    <FacebookLogo
      class="w-10 h-10 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
    />
  </a>
  <a 
    href="https://www.instagram.com/hawaiianspringswater/" 
    target="_blank"
    rel="noopener noreferrer">
  <InstagramLogo
    class="w-10 h-10 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
  />
  </a>
  <a 
    href="https://www.tiktok.com/HawaiianSprings/" 
    target="_blank"
    rel="noopener noreferrer"></a>
  <TikTokLogo
    class="w-10 h-10 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
  />
  </a>
  <a 
    href="https://www.linkedin.com/company/hawaiian-springs-water" 
    target="_blank"
    rel="noopener noreferrer">
  <LinkedinLogo
    class="w-10 h-10 text-[color:var(--accent)] hover:text-[color:var(--aquasky)]"
  />
  </a>
</section>
