---
import Image from "astro/components/Image.astro";
import bg_image from "../assets/sustainability.webp";
import bottleImage from "../assets/500ml.png";
import PacificOcean from "../assets/theme-images/PacificOcean.svg";
import TropicalRain from "../assets/theme-images/TropicalRain.svg";
import Mountains from "../assets/theme-images/Mountains.svg";
import Volcano from "../assets/theme-images/Volcano.svg";
import HawaiianVolcano from "../assets/theme-images/HawaiianVolcano.svg";
import WaterSource from "../assets/theme-images/WaterSource.svg";
---

<section class="">
  <div class="w-full min-h-screen relative">
  <Image
    src={bg_image}
    alt=""
    format="webp"
    class="absolute object-cover bottom-auto -z-1 w-full h-full"
    loading="eager"
  />
  <div class="px-8 pt-1 md:px-20 md:pt-5">
    <div class="">
      <h1 class="mt-6 bs-h1 text-[color:var(--light)]">Sustainability</h1>
      <p
        class="mt-3 max-w-md text-pretty text-white text-base leading-5 md:leading-7 md:text-2xl"
      >
        Born from a 13,000-foot volcanic aquifer, naturally filtered through
        lava rock, mineral-rich, and bottled at the source
      </p>
    </div>
  </div>
  <div class="flex">
    <PacificOcean class="h-50 w-50"/>
    <TropicalRain class="h-50 w-50"/>
    <Mountains class="h-50 w-50"/>
    <Volcano class="h-50 w-50"/>
    <HawaiianVolcano class="h-50 w-50"/>
    <WaterSource class="h-50 w-50"/>
  </div>
 

  <Image
    src={bottleImage}
    alt="Sustainability Bottle"
    class="absolute px-5 bottom-0 h-80 w-auto object-contain z-1"
    width={200}
    height={300}
    loading="eager"
  />
   <div class="absolute bottom-0 flex items-center bg-[color:var(--accent)] w-full h-20">
    <p class="absolute md:left-40 left-35 pr-20 md:text-2xl text-lg font-bold text-white">
      Not Filtered Tap. Not Tankered.
    </p>
  </div>
  </div>
  

  
</section>
  
